body {
    margin: 0;
    /* color: aquamarine; */
    font-family: 'Newsreader', serif;
  }
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  .header {
    padding: 10px;
    background: #edf2f4;
    border-bottom: 1px solid #9999;
  }
  .title{
    color: darkcyan;
    text-decoration: none;
    margin-top: 5px;
  }
  .header a {
    color: #0072ff;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 5px;
  }
  .header a:hover {
    color: #8a0f53;
  }
  
  .header small {
    color: #666;
    visibility: initial;
  }
  .header .active {
    color: #2c7613;
  }
  .error {
    color: red;
    margin-bottom: 10px;
  }
  footer{
      position: absolute;
      bottom: 0;
      width: 100%;
  }
