*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff-primary: 'Source Sans Pro', sans-serif;
  --ff-secondary: 'Source Code Pro', monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #1685e0;
  --clr-delight: #1cc872;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.35),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

body{
  margin: 0;
  background: linear-gradient(to right, #00aaff, #ffbb00);
}
@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.25rem;
  }
}
html {
  scroll-behavior: smooth;
}

a,
a:visited {
  text-decoration: none;
}
body {
  margin: 0;
  /* color: aquamarine; */
  font-family: 'Newsreader', serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
header {
  text-align: center;
  margin: 0 auto;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.nav {
  float: left;
  overflow: hidden;
  position: fixed;
  width: 100%;
  display: block;
  /* justify-content: space-between; */
  padding: 0.5em;
  background: #edf2f4;
  border-bottom: 1px solid #9999;
}
.title {
  color: darkcyan;
  text-decoration: none;
  margin-top: 2.5em;
}
.title-head {
  background-color: var(--clr-accent);
  color: var(--clr-light);
  display: block;
  text-align: center;
  position: relative;
  margin-top: 0.65em;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h2);
  overflow: hidden;
  z-index: -2;
}
.algo-list {
  left: 1em;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
  align-items: left;
  margin: 0 1em;
  padding: 0;
}
.algo-link {
  color: inherit;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h3);
  text-decoration: none;
  cursor: pointer;
}
.nav a,
.nav-button {
  font-family: var(--ff-secondary);
  color: #0072ff;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 5px;
  cursor: pointer;
}
.nav a:hover {
  color: #8a0f53;
}
.nav a label {
  cursor: pointer;
}
.nav small {
  color: #666;
  visibility: initial;
}
.nav .active {
  color: #2c7613;
}
.nav-toggle {
  transition: none;
  padding: 0.25rem 0.75rem;
  font-size: 1em;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: box-shadow 0.15s ease-in-out;
}
.nav-toggle-collapse {
  display: none;
  transition: none;
  padding: 0.25rem 0.75rem;
  font-size: 1em;
  text-decoration: none;
  list-style: none;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: box-shadow 0.15s ease-in-out;
  z-index: 2;
}
.show {
  display: flex !important;
  flex-basis: auto;
}
.nav-toggle:focus {
  text-decoration: none;
  /* outline: 0;
  box-shadow: 0 0 0 0.25rem; */
}
.nav-toggle:focus {
  text-decoration: none;
  /* outline: 0;
  box-shadow: 0 0 0 0.25rem; */
}
.error {
  color: red;
  margin-bottom: 10px;
}
footer {
  bottom: 0;
  text-align: center;
  margin-bottom: 0;
  width: 100%;
}
.about-article {
  color: #666;
  margin-left: auto;
  margin-right: auto;
  padding: 1em 0.125em;
  max-width: 1000px;
}
.about-article a {
  color: #1982fa;
  text-decoration: none;
}

.about-article a:hover {
  color: #8a0f53;
}

.about-article a:visited {
  text-decoration: none;
}

.algo-nav,
.algo-nav-main {
  font-size: var(--fs-h2);
  color: #98a2b4;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
}
.algo-nav {
  height: 25%;
  background-color: var(--clr-accent);
  color: var(--clr-light);
}
.algo-nav-main {
  text-align: center;
  padding-top: 3em;
  height: 35%;
  background-color: var(--clr-light);
  color: var(--clr-accent);
}

.algo-title,
.algo-detail-head {
  text-align: left;
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
}
.algo-detail {
  height: 100%;
  margin-left: 1em;
}
.algo-detail-head {
  padding-top: 1.75em;
}
.algo-detail-link {
  margin: 0 auto;
}
.algo-subtitle {
  text-align: left;
  font-size: var(--fs-h4);
  font-weight: var(--fw-bold);
}
.algo-body {
  /* display: grid; */
  /* position: relative; */
  grid-area: context;
  padding-right: 3em;
}

.context-body {
  margin-top: 4em;
}
.flex-mid-nowarp-row{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.flex-mid-nowarp-col{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
}
.board-container{
  display: grid;
  margin-top: 5rem;
  /* grid-template-columns: repeat(4, 6rem); */
  grid-template-rows: min;
}